<mat-card>

    <mat-card-title fxLayoutAlign="center">
        {{ player.name }}
    </mat-card-title>
    <br />
    <form [formGroup]="updateForm" #resetCareerForm="ngForm">
        <mat-card-content>
            <mat-card-content>

                <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="New current Points" formControlName="newPoints" min="0" max="99" required>
                    <mat-error>
                        Points not permited
                    </mat-error>
                </mat-form-field>

            </mat-card-content>
            <mat-card-footer fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="center">
                <button (click)="submitForm()" mat-flat-button color="primary">Update</button>
            </mat-card-footer>
        </mat-card-content>
    </form>

</mat-card>