<div *ngIf="loading" fxLayout style="position:absolute; " fxFill fxLayoutAlign="space-around center">
    <mat-spinner></mat-spinner>
</div>

<mat-card *ngIf="!loading" fxFlex="100%">
    <mat-card-title fxLayoutAlign="center">{{ career.title }}</mat-card-title>
    <mat-card-subtitle fxLayoutAlign="end start">{{ career.team_name}}</mat-card-subtitle>

    <form [formGroup]="playerForm" (ngSubmit)="submitPlayerForm()" #resetPlayerForm="ngForm">

        <mat-card-content>
            <mat-form-field>
                <input matInput placeholder="Name" formControlName="name" required>
                <mat-error>
                    Name is required!
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Position</mat-label>
                <mat-select formControlName="position" name="position">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let position of positions" [value]="position.value">
                        {{position.value}} - {{position.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Age" formControlName="age_initial" required>
            </mat-form-field>

            <mat-button-toggle-group formControlName="strong_foot" aria-label="Font Style">
                <mat-button-toggle value="L">Left</mat-button-toggle>
                <mat-button-toggle value="R">Right</mat-button-toggle>
            </mat-button-toggle-group>

            <mat-form-field>
                <input matInput type="number" placeholder="Points Initial" formControlName="points_initial" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Potencial Initial" formControlName="potential_initial" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Potencial Final" formControlName="potential_final" required>
            </mat-form-field>

        </mat-card-content>

        <mat-card-footer fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="center">
            <button mat-flat-button color="primary">Save</button>
        </mat-card-footer>

    </form>


</mat-card>